src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/users/{userId}:api-config">
        <set-payload value="{ &quot;message&quot;: &quot;The user was DELETED successfuly&quot; }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users:api-config">
        <set-payload value="#[payload]
  &quot;users&quot;:
  [
    &quot;user&quot;: {
      &quot;userId&quot;: &quot;001&quot;,
      &quot;firstName&quot;: &quot;John&quot;,
      &quot;lastName&quot;: &quot;Smith&quot;,
      &quot;middleName&quot;: &quot;A&quot;,
      &quot;department&quot;: &quot;IT&quot;,
      &quot;hireDate&quot;: &quot;10/01/2015&quot;,
      &quot;statusDate&quot;: &quot;05/01/2016&quot;,
      &quot;jobTitle&quot;: &quot;Developer&quot;
    },
    &quot;user&quot;: {
      &quot;userId&quot;: &quot;002&quot;,
      &quot;firstName&quot;: &quot;David&quot;,
      &quot;lastName&quot;: &quot;Jones&quot;,
      &quot;middleName&quot;: &quot;B&quot;,
      &quot;department&quot;: &quot;HR&quot;,
      &quot;hireDate&quot;: &quot;5/01/2015&quot;,
      &quot;statusDate&quot;: &quot;03/01/2016&quot;,
      &quot;jobTitle&quot;: &quot;HR Analyst&quot;
    }                  
  ],
  &quot;success&quot;: true,
  &quot;status&quot;: 200
}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/{userId}:api-config">
        <set-payload value="#[payload]
  &quot;user&quot;: {
    &quot;userId&quot;: &quot;001&quot;,
    &quot;firstName&quot;: &quot;John&quot;,
    &quot;lastName&quot;: &quot;Smith&quot;,
    &quot;middleName&quot;: &quot;A&quot;,
    &quot;department&quot;: &quot;IT&quot;,
    &quot;hireDate&quot;: &quot;10/01/2015&quot;,
    &quot;statusDate&quot;: &quot;05/01/2016&quot;,
    &quot;jobTitle&quot;: &quot;Developer&quot;
  }                  
  &quot;success&quot;: true,
  &quot;status&quot;: 200
}" doc:name="Set Payload"/>
        <logger message="&quot;Request recieved&quot;" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="post:/users:application/xml:api-config">
        <set-payload value="{ &quot;message&quot;: &quot;The user was CREATED successfuly&quot; }" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
